* {
    background-color: whitesmoke;
}

.navbar-wrapper {
    width: 100%;
    height: 48px;
    top: 0;
    left: 0;
    margin-bottom: 1px;
    padding: 1px;
    float: left;
}

a {
    text-decoration: none;
    padding: 5px;
    color: cornflowerblue;
    font-size: 32px;
    margin: 3px;
}

.btn {
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
}

.login-btn {
    background-color: #2ecc71;
    color: white;
}

.login-btn:hover {
    background-color: whitesmoke;
    color: #2ecc71;
    border: 1px solid #2ecc71;
}

.register-btn {
    background-color: cornflowerblue;
    color: white;
}

.register-btn:hover {
    background-color: whitesmoke;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
}

.navbar-right {
    float: right;
}