* {
    background-color: #ffffff;
}

.register-box {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.register-header {
    margin: 20px 5px;
    text-align: center;
}

.textbox {
    width: 100%;
}

.textbox input[type=text],input[type=password],input[type=email] {
    margin: 3%;
    padding: 5%;   
    width: 84%;
    background-color: #e6e9e9;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary {
    width: 40%;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
    padding: 3%;
    margin: 5% 30%;
}

.invalid {
    border: 1px solid red;
}

.img-upload {
    width: 84%;
    padding: 5%;
    margin: 3%;
}