<div class="modal-wrapper">
    <div class="modal-body">
        <div class="textbox">
            <input [(ngModel)]="post.title" type="text" name="title" id="title" class="title" placeholder="Title for your post">
        </div>
        <div class="textbox">
            <textarea [(ngModel)]="post.description" name="description" id="description" class="description" cols="30" rows="10" placeholder="Type something here"></textarea>
        </div>
    </div>
    <button (click)="addNewPost()" class="add-btn">Add Post</button>
</div>
<div (click)="closePostModal()" class="modal-background"></div>